
.tb_blue_background {
  background-color: #010845;
  background-color: #010815;
 /*background-image: linear-gradient(90deg, #000000 0%,  #01081d 100%); */
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Rectangle 4 Copy: */


.tb_silver_color {
  color: #FFFFFF;
}

.tb_blue_color {
  color: #59B9F3;
}

.tb_avenir_heavy {
  /*font-family:Avenir-Heavy;*/
  font-family: 'Lato', sans-serif;
}

.tb_avenir_medium {
  /*font-family: Avenir-Medium; */
  font-family: 'Lato', sans-serif;
}

.tb_avenir_medium_oblique {
  /*font-family: Avenir-MediumOblique; */
  font-family: 'Lato', sans-serif;
}
.tb_avenir_heavy_oblique {
  /*font-family: Avenir-HeavyOblique; */
  font-family: 'Lato', sans-serif;
}


.tb_time_boxer_header {
  margin-top: 1em;
  letter-spacing: 12px;
  font-size: 83px;
}

.tb_short_description_text {
  font-size: 18px;
  letter-spacing:1.2px;
  margin-bottom: 25px;
}

.tb_read_more_link {
  letter-spacing: 1.2px;
  font-size: 18px;
  text-decoration: underline;
  cursor: crosshair;
}

.tb_bullet_point {
   font-size: 18px;
   letter-spacing: 1.2px;
   margin-bottom: 13px;
}

.cover {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 285px;
    height: 595px;
    background-image: url(../static/iPhone.png);
}

.download_app_store {
    width: 178px;
    height: 53px;
    background-image: url(../static/apple.png);
}

.links {
  margin-top: 80px;
  margin-bottom: 80px;
}

.tb_video {
  margin-left: 11px;
  margin-top: 57px;
  height: 467px; 
}


.full-width {
  max-width: 1400px;
}

.footer {
  margin-top: 60px;
  background-color: #010815;
  padding: 2rem 4rem;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}
.right {
  text-align: right;
}

.footer-links {
  list-style-type: none;
}

.contact {
  font-size: 28px;
  margin-top: 100px;
}
