
.cursor {
  cursor:;
}
.tb_blue_background {
  background-color: #01081d;
 background-image: linear-gradient(90deg, #30003c  0%,  #000A1C 100%); 
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Rectangle 4 Copy: */


.tb_silver_color {
  color: #EEEEEE;
}
.tb_avenir_heavy {
  font-family:Avenir-Heavy;
  font-family: 'Nunito', sans-serif;
}

.tb_avenir_medium {
  font-family: Avenir-Medium;
  font-family: 'Nunito', sans-serif;
}

.tb_avenir_medium_oblique {
  font-family: Avenir-MediumOblique;
  font-family: 'Nunito', sans-serif;
}
.tb_avenir_heavy_oblique {
  font-family: Avenir-HeavyOblique;
  font-family: 'Nunito', sans-serif;
}


.tb_time_boxer_header {
  margin-top: 1em;
  letter-spacing: 12px;
  font-size: 81px;
}

.tb_short_description_text {
  font-size: 16px;
  letter-spacing:1.2px;
  margin-bottom: 25px;
}

.tb_read_more_link {
  letter-spacing: 1.2px;
  font-size: 16px;
  text-decoration: underline;
  cursor: crosshair;
}

.tb_bullet_point {
   font-size: 16px;
   letter-spacing: 1.2px;
   margin-bottom: 13px;
}

.cover {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 285px;
    height: 595px;
    background-image: url(../static/iPhone.png);
}

.download_app_store {
    width: 178px;
    height: 53px;
    background-image: url(../static/apple.png);
}

.links {
  margin-top: 80px;
  margin-bottom: 80px;
}

.tb_video {
  margin-left: 11px;
  margin-top: 57px;
  height: 467px; 
}